body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f7f7f7;
}

.form {
    margin-bottom: 20px;
}

.form select {
    border: 1px solid #ccc;
    padding: 5px 10px;
    color: #444;
    outline: none;
}

.containerGraph {
    display: flex;
    align-content: center;
    justify-content: flex-start;
    padding: 0 10px;
    background-color: white;
    box-shadow: 0 0 0 0.0625rem rgba(0,0,0,0.1), 0 0.125rem 0.5rem 0 rgba(0,0,0,0.1);
    border-radius: 10px;
}

.containerGraph ul {
    margin: 0;
    padding: 10px 10px 10px 0;
    border-right: 1px solid #ddd;
}

.containerGraph li {
    list-style: none;
    line-height: 25px;
}

.svgContainer {
    padding: 15px 2px;
    width: 100%;
}

.svgContainer hr {
    margin: 0;
}

.media {
    margin-top: 10px;
    width: 100%;
}